*{
    margin:0;
}
h1{
    font-weight:24px;
}
body{
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#aaaaaa));
    font-size:14px;
}
a{
    color:#2970A6;
    text-decoration:none;
}
header{
    background-color:white;
    height:60px;
    width:900px;
    margin:0 auto;
    border-radius:8px;
}
header .left{
    float:left;
    line-height:60px;
}
header .right{
    float:right;
}
.main{
    min-height:800px;
    width:880px;
    margin:8px auto;
    padding:10px;
    background-color:white;
    border-radius:8px;
    color:#555;
}


input#blog_title{
    width:600px;
}
textarea#blog_content{
    width:600px;
    height:500px;
}

.blog_item{
    border-bottom:1px dashed black;
    line-height:22px;
}
#error_text{
    color:#FF3344;
}
.blog_title{
    color:#2970a6;
}

.delete{
    text-decoration:line-through;
}
