<!DOCTYPE HTML>
<html>
    <head>
        <title>刘立秋的网站</title>
        <mete name="keywords" content="刘立秋, program, python" />
        <link rel="stylesheet" type="text/css" href="/static/style/main.css" />
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        {% for script in scripts %}
        <script type="text/javascript" src="/static/js/{{ script }}.js"></script>
        {% end %}
    </head>
    <body>
        <header>
            <h1 class="left">Crazy</h1>
            <img src="http://projecteuler.net/profile/llq17501.png" class="right"/>
        </header>
        <div class="main">
            {% block main %}
            {% end %}
        </div>
    </body>
</html>
