<!DOCTYPE HTML>
<html>
    <head>
        <title>刘立秋的网站</title>
        <mete name="keywords" content="刘立秋, program, python" />
        <link rel="stylesheet" type="text/css" href="static/style/main.css" />
    </head>
    <body>
        <header>
            <h1 class="left">Freedom</h1>
            <img src="http://projecteuler.net/profile/llq17501.png" class="right"/>
        </header>
        <div class="main">
            <h1>
                未完成
            </h1>
            <ul>
                <li>blog</li>
                <li>代码高亮</li>
                <li>tag</li>
                <li>留言</li>
            </ul>
        </div>
    </body>
</html>
